<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>

<body>
    <h1>Not found</h1>
    <img width="40%"
        src="https://www.bing.com/images/create/clay-image-of-human-not-finding-something2c-this-hu/6453b9231e6c4414afdac5e613bb6d74?id=TDZ7oQrW0H2TfL30yy0T5w%3d%3d&view=detailv2&idpp=genimg&FORM=GCRIDP&mode=overlay"
        alt="">
</body>

</html>