<html>

<head>
    <title>My App</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
</head>

<body>
    <h1 style="color:#EA1955;"> Autor </h1>
    <p>Obrajero Arguelles Mariana Abigail</p>
    <img src="https://scontent.fmex23-1.fna.fbcdn.net/v/t1.6435-9/122602514_1697256130433020_570043739953015801_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE0fJrSSmymMpuWNaeWUcb70JNezeuScsLQk17N65Jywipr5XrsWJijXpUV0Pqpa9EJifkh_7qlH0GMmhDN30dR&_nc_ohc=4eLtvrE16SIAX9oREg7&_nc_ht=scontent.fmex23-1.fna&oh=00_AfC0DcwJdPxNLYYaUiXaw-5rMB3qkeVPVf_xqGLVhLKCaA&oe=6477CDFD"
        alt="Girl in a jacket" width="300" height="400">
</body>

</html>